<% include partials/header %>


<div class="jumbotron jumbotron-fluid text-center bg" id="landing-tron">
    <div class="container">
      <img src="img/camp-logo-white.png" id="splash-logo-white" alt="Camp Finder Logo" class="animated bounceInLeft">
      <p class="lead">Camp finder is your one stop app to find and save your favorite campgrounds.</p>
      <a class="btn btn-primary btn-lg animated tada" href="/campgrounds" role="button">Check Out the Campgrounds</a>
    </div>
</div>


<% include partials/footer %>