<% include partials/header %>


<div class="jumbotron jumbotron-fluid text-center bg" id="landing-tron">
    <div class="container">
      <h1 class="display-3">Welcome to Camp Finder</h1>
      <p class="lead">Camp finder is your one stop app to find and save your favorite campgrounds.</p>
      <a class="btn btn-primary btn-lg" href="/campgrounds" role="button">Check Out the Campgrounds</a>
    </div>
</div>


<% include partials/footer %>