<% include partials/header %>

<div class="container my-5">
  <div class="row">
    <div class="col-md-8 m-auto">
        <h3 class="text-center">Create New Campground</h3>
        <form action="/campgrounds" method="POST" class="mt-4">
          <div class="form-group">
            <input type="text" class="form-control" name="name" id="campgroundName" placeholder="Campground Name">
          </div>
          <div class="form-group">
            <input type="text" class="form-control"  name="image" id="campgroundImage" placeholder="Image URL">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="address" id="campgroundAddress" placeholder="Campground Address">
          </div>
          <div class="form-group">
            <input type="number" class="form-control" name="price" id="campgroundPrice" placeholder="Campground Price per Night">
          </div>
          <div class="form-group">
            <textarea class="form-control" type="text"  id="blogDescription" name="description" rows="3" placeholder="Description"></textarea>
          </div>
          <button type="submit" class="btn btn-primary btn-block animated pulse">Submit</button>
        </form>
        <p class="pt-1">
            <a href="/campgrounds" >Go Back</a>
        </p>
        
    </div>   
  </div>

</div>

<% include partials/footer %>