
/* Global
-------------------------------------------------- */

* {
    border-radius: 0 !important;
  }

img {
    max-width: 100%;
}

.card-block {
padding: 15px 5px;
}

body, html {
    min-height: 100%;
    font-family: 'Hind', serif;
    background-image: url("../img/concrete_seamless.png");
    line-height: 1.1;
}

h1,h2,h3,h4,h5 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

h5 {
    font-size: 13px;
}

/* Navbar
-------------------------------------------------- */
.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.5);
    text-transform: uppercase;
}

.navbar-brand {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    
}

.navbar-light .navbar-brand {
    color: #00AFD8;
}


.btn-primary {
    background: #00AFD8;
    border-color: #00AFD8;
}

.btn-primary:hover {
    background: #4cb5f5;
    border-color: #4cb5f5;
}

#sidebar {
    background: #fff;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
  }
  body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
    margin-top: 40px;
  }

/* Home Page
-------------------------------------------------- */
#landing-tron {
    padding: 5rem 2rem;
    color: #fff;
}

.bg {
    background-image: url("https://images.unsplash.com/photo-1478131143081-80f7f84ca84d?auto=format&fit=crop&w=2208&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Campgrounds
-------------------------------------------------- */
#add-new-jumbotron {
    padding: 0;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.4);
}


