
.card-block {
padding: 15px 5px;
}

#landing-tron {
    padding: 10rem 2rem;
    color: #fff;
}

body, html {
    height: 100%;
    font-family: 'Hind', serif;
}

.bg {
    /* The image used */
    background-image: url("https://images.unsplash.com/photo-1478131143081-80f7f84ca84d?auto=format&fit=crop&w=2208&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1,h2,h3,h4 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.5);
    font-family: 'Montserrat', sans-serif;
}

.navbar-brand {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    color: #4cb5f5;
}


